* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: clamp(40%, 1% + 2vw, 62.5%);
  --hue: 194;
  --bg-selected-card: hsl(var(--hue), 97%, 31%);
  --bg-card-hover: hsla(var(--hue), 97%, 31%, 0.5);
  --bg-card: #e1e1e6;
  --icon-selected-color: #fff;
  --text-color: hsla(240, 6%, 21%, 1);
  --icon-color: hsla(240, 6%, 21%, 1);
  --background-body: #fff;
}

.dark-mode {
  --hue: 240;
  --bg-selected-card: hsl(195, 74%, 15%);
  --bg-card-hover: hsla(195, 74%, 15%, 0.5);
  --bg-card: hsl(var(--hue), 6%, 17%);
  --icon-selected-color: #fff;
  --text-color: #fff;
  --icon-color: hsl(var(--hue), 7%, 78%);
  --background-body: hsl(var(--hue), 5%, 7%);
}

body {
  background: var(--background-body);
  font-family: "Roboto", sans-serif;
  font-size: 17rem;
  height: 100vh;
  display: grid;
  justify-content: center;
  position: relative;
  transition: background 0.8s ease-in-out;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container{
  display: grid;
}

.page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-self: end;
  justify-self: center;
  gap: 10rem;
}

.hide {
  display: none;
}

.btn-mode-indicator {
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
  background: var(--bg-card);
  color: var(--icon-color);
  border-radius: 0.8rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1rem;
}

button span {
  font-size: 1.3rem;
  display: flex;
}

.timer-controls {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.timer {
  display: flex;
  color: var(--text-color);
  margin-bottom: 2rem;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-self: center;
}

.svg-selected svg path {
  fill: var(--icon-selected-color);
}

svg path {
  fill: var(--icon-color);
}

.card {
  background: var(--bg-card);
  /* width: -webkit-fill-available; */
  border-radius: 2.4rem;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 3.2rem;
}



.selected {
  background: var(--bg-selected-card);
}

#nature-button,
#rain-button,
#cafe-button,
#fire-button {
  padding: 1rem;
  cursor: pointer;
}

.vol-wrapper {
  display: flex;
  align-items: center;
  width: 80%;
  padding: 0px 10px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 6px;
  background: var(--icon-color);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: var(--icon-color);
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: var(--icon-color);
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}

input[type="range"].range-selected,
input[type="range"].range-selected::-webkit-slider-thumb {
  background: var(--icon-selected-color);
}

input[type="range"].range-selected::-moz-range-thumb {
  background: var(--icon-selected-color);
}

footer {
  font-size: 2rem;
  color: var(--text-color);
  align-self: end;
  justify-self: center;
}

footer a {
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
}

@media(hover: hover) and (pointer: fine) {
  a:hover{
    color: var(--bg-card-hover)
  }

  .card:hover {
    background: var(--bg-card-hover);
  }
}

@media (max-width: 960px) {
  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
  }

  .cards {
    width: -webkit-fill-available;
  }
  button span {
    display: none;
  }
}

@media (max-width: 560px) {
  body {
    font-size: 12rem;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .vol-wrapper {
    width: 100%;
    justify-content: center;
  }

  .btn-mode-indicator {
    right: 1rem;
    top: 1rem;
    background: none;
    margin-top: 1rem;
  }

  .timer-controls {
    margin-top: 7rem;
  }

  input[type="range"]{
    display: none;
  }

  .card {
    gap: 0;
  }
}
